In [21]:
import random
import pandas as pd
import numpy as np

In [2]:
patient_frequency = [x for x in range(5,12)]

In [5]:
months = (("jan",31),("feb",28),("mar",31),
          ("apr",30),("may",31),("jun",30),
          ("jul",31),("aug",31),("sep",30),
          ("oct",31),("nov",30),("dec",31))

In [6]:
fees = 750

In [25]:
def compute_year():
    year = {}
    year['month'] = []
    year['patients'] = []
    year['earnings'] = []
    for month in months:
        year['month'].append(month[0])
        num_patients = random.choice(patient_frequency)
        monthly_patients = 0
        for i in range(month[1]): 
            monthly_patients += num_patients
        year['patients'].append(monthly_patients)
        year['earnings'].append(month[1]*fees*num_patients)
    return year

In [34]:
year = compute_year()
df = pd.DataFrame(data=year, index=np.arange(1,13))
print(df)
print("Gross earning : Rs." , sum(year['earnings']))

   month  patients  earnings
1    jan       248    186000
2    feb       196    147000
3    mar       248    186000
4    apr       300    225000
5    may       217    162750
6    jun       240    180000
7    jul       155    116250
8    aug       310    232500
9    sep       210    157500
10   oct       341    255750
11   nov       150    112500
12   dec       155    116250
Gross earning : Rs. 2077500

In [35]:
year = compute_year()
df = pd.DataFrame(data=year, index=np.arange(1,13))
print(df)
print("Gross earning : Rs." , sum(year['earnings']))

   month  patients  earnings
1    jan       155    116250
2    feb       224    168000
3    mar       341    255750
4    apr       210    157500
5    may       186    139500
6    jun       180    135000
7    jul       279    209250
8    aug       279    209250
9    sep       270    202500
10   oct       279    209250
11   nov       180    135000
12   dec       310    232500
Gross earning : Rs. 2169750

In [33]:
df = pd.DataFrame(data=compute_year(), index=np.arange(1,13))
print(df)
print("Gross earning : Rs." , sum(year['earnings']))

   month  patients  earnings
1    jan       155    116250
2    feb       224    168000
3    mar       279    209250
4    apr       210    157500
5    may       341    255750
6    jun       180    135000
7    jul       186    139500
8    aug       186    139500
9    sep       210    157500
10   oct       279    209250
11   nov       180    135000
12   dec       248    186000
Gross earning : Rs. 2104500

In [36]:
year = compute_year()
df = pd.DataFrame(data=year, index=np.arange(1,13))
print(df)
print("Gross earning : Rs." , sum(year['earnings']))

   month  patients  earnings
1    jan       341    255750
2    feb       140    105000
3    mar       279    209250
4    apr       150    112500
5    may       217    162750
6    jun       300    225000
7    jul       217    162750
8    aug       186    139500
9    sep       150    112500
10   oct       186    139500
11   nov       180    135000
12   dec       248    186000
Gross earning : Rs. 1945500